.card{
    width: 50%;
    height: 300px;
    margin: 10% 0px 0px 25%;
}

/* login form */
/* @media screen and (max-width: 600px) {
  #email {
    width: 200px;
    border: 1px solid red;
  }
} */


/* subpurchase */
footer {
    position: sticky;
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px 0;

  }
  
  .footer-content {
    max-width: 1400px; /* Set a maximum width for the content within the footer */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;

    /* Center the content horizontally */
  }
  .footer-content:hover{
    color: blue;
  }
  /* media query for subpurchase */
  @media screen and (max-width: 600px) {
#cardfor8div{
margin-left: -30px;
border: 1px solid red;
}
#purchaseorderdiv{
  margin-left: -20px;
  border: 1px solid red;
}
   
}

/* media for card */
@media (max-width:998px){
    .profile{
        margin-left: 35px;
    }
}

@media (max-width:600px ){
    .card{
        width: 300px;
        height: 300px;
       /* border: 2px solid red; */
       margin: auto;
       margin-top: 20%;
    }

    @media (max-width:600px ){
        #drndiv{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 1fr;
            gap: 20px;
            justify-content: space-evenly;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }}
    
/* drndetail css */
   .border{
    height: 100px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    margin-right: 10px;
   }
    #col1{
      
        text-align:center ;
        background-color:#e2e8f0;
     
        color:#061B64 ;
       
    }
    #col2{
      
        text-align:center ;
        background-color:#D0F2FF;
        color:#061B64
       
    }
    #col3{
      
        text-align:center ;
        background-color:#FFF7CD;
        color:#7A4F01
       
    }
    #col4{
      
        text-align:center ;
        color:#7A4F01;
        background-color:#FFE7D9
       
    }
    #col5{
      
        text-align:center ;
        background-color:#2ecc71;
        color:white
       
    }
    #col6{
      
        text-align:center ;
        color:#7A0C2E;
      background-color:#FFE7D9
       
    }
  
    .border {
        border-radius: 5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 10px;
      }
      
      #col1, #col2, #col3, #col4, #col5, #col6 {
        text-align: center;
        margin-bottom: 20px; /* Adjust as needed */
        padding: 15px;
        display: flex;
        flex-direction: column;
      

        /* Adjust as needed */
      }
      
      #col1 {
        background-color: #e2e8f0;
        color: #061b64;
        padding-top: 10px;

      }
      
      #col2 {
        background-color: #d0f2ff;
        color: #061b64;
      }
      
      #col3 {
        background-color: #fff7cd;
        color: #7a4f01;
      }
      
      #col4 {
        background-color: #ffe7d9;
        color: #7a4f01;
      }
      
      #col5 {
        background-color: #2ecc71;
        color: white;
      }
    
      #col6 {
        background-color: #ffe7d9;
        color: #7a0c2e;
      }
      #storedPurchaseDatadrndetail{
        width: 20%;
        display:flex;
      justify-content: space-between;
      margin-left: 16px;
    
      }
      #storedPurchaseDatadrndetailicon{
color: #18dcff;
margin-top: 5px;
      }
      #subheadingmaindetail{
        margin-top: -8px;
      }
      #subheadingdetail{
margin-top: -5px;
font-size: 13px;

      }
      #drnattachment{
        width: 50%;
      }
      #downloaddrndetail{
height: 70px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-right: 10px;
padding-left: 20px;
/* background-color: #d0f2ff;
color: #061b64; */
background-color: #fff7cd;
color: #7a4f01;
margin-bottom: 30px;
      }
      .downloadinvoicemain{
        padding-top: 5px;
    
      }
#subheadingdowndetail{
  margin-top: -5px;
font-size: 13px;
/* margin-left: 20px; */
}
/* schedule page css */
.btn-hover:hover {
  background-color: #1855a1;
}

/* profilepage  */
/* .card {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
} */
#cardprofile{
  display: flex;
  width: 100%;
  /* border: 1px solid #ccc; */
}

.left {
  width: 30%;
}

.left-inner {
  width: 100%;
  /* background-color: #f0f0f0; */
  text-align: center;
}

.profile-img {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  margin: 10px;
}

.right {
  width: 70%;
  padding: 10px;
}

.right-item {
  margin-bottom: 10px;
}
.withMargin {
  margin-bottom: 10px; /* Adjust the margin as per your design */
}

@media screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600 pixels */
  #cardprofile{
    margin-left: 40px;
  }
  #Nameicon{
    width: 300px;
/* border:1px solid red; */
padding-left: 50px;
margin-left: 10px;
margin-top: -20px;
  }
  #detailmediarow{
    margin-left: 50px;
  }
  #detailmediacol{
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
  #alldivcol{
  
    margin-left: -150px;
  }
 
}
/* calender page */
.activeMonth{
  color:blue;

}

